<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "DocMe" %>

    <!-- Include stylesheet -->
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
  </head>
  <body class="dark:bg-gray-900">
    <%= render DocmeWeb.LayoutView, "header.html", assigns %>
    <div class="px-4 mx-auto w-full max-w-8xl">
        <div class="lg:flex">
            <%= @inner_content %>
        </div>
    </div>
  </body>

  <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
</html>
