<%= render DocmeWeb.DocumentView, "sidebar.html", assigns %>
<main id="content-wrapper" class="flex-auto w-full min-w-0 lg:static lg:max-h-full lg:overflow-visible">
    <div class="flex w-full">
        <!-- Main content -->
        <div class="flex-auto pt-6 min-w-0 max-w-4xl lg:px-8 lg:pt-10 pb:12 xl:pb-24 lg:pb-16">
            <div id="editor"></div>
        </div>
        <%= render DocmeWeb.DocumentView, "tablecontent.html", assigns %>
    </div>
</main>